<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testcases.Tc_05_Search_Flightpage"/>
      <class name="testcases.Tc_07_Bookingformpage"/>
      <class name="testcases.Tc_01_Navigate_to_Homepage"/>
      <class name="testcases.Tc_06_Select_Flightpage"/>
      <class name="testcases.Tc_03_Loginpage_Mobno"/>
      <class name="testcases.Tc_04_Loginpage_email"/>
      <class name="testcases.Tc_09_Verify_menuitems"/>
      <class name="testcases.Tc_02_Signuppage"/>
      <class name="testcases.Tc_08_Paymentpage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
